body {
background:hsl(217, 54%, 11%);
}

.container {
width:70%;
height:33pc;
padding:5%;
background:hsl(216, 50%, 16%);
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:20px;
}

    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

.logo-container {
width:100%;
height:50%;
position:relative;
}

.logo:hover ~ .logo2 {
z-index:2;
opacity:1;
}

.logo {
width:100%;
height:100%;
background:url("images/image-equilibrium.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
z-index:1;
}

.view {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

.logo2 {
width:100%;
height:100%;
background:hsl(178, 100%, 50%);
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
opacity:0;
transition-duration:.2s;
z-index:0;
}

.info {
width:90%;
padding:3%;
height:auto;
}

.info2 {
width:90%;
padding:3%;
height:auto;
display: flex;
gap:12px;
}

.info2>p {
color:hsl(215, 51%, 70%);
font-weight:400;
}

.name {
color:hsl(0, 0%, 100%);
}



.info>h1 {
color:hsl(0, 0%, 100%);
}

.info>p {
font-size:18px;
line-height:1.8;
font-weight:400;
color:hsl(215, 51%, 70%);
}

.info>h1:hover {
color:hsl(178, 100%, 50%);
}

.name:hover {
color:hsl(178, 100%, 50%);
}

.balance {
color:hsl(178, 100%, 50%);
width:100%;
display: inline;
align-items:center;
}

.duration {
color:hsl(215, 51%, 70%);
float: right;
}

.hr {
width:100%;
height:1px;
background:hsl(215, 32%, 27%);
border:none;
}

.avatar-circle {
width:40px;
height:40px;
padding:1%;
border-radius:50%;
background:hsl(0,0%,100%);
display: flex;
justify-content:center;
}

.avatar {
width:40px;
height:40px;
padding:2%;
background: url('images/image-avatar.png');
background-size:100% 100%;
}


@media screen and (min-width: 320px) and (max-width:480px) {
.container {
width:70%;
height:33pc;
padding:5%;
background:hsl(216, 50%, 16%);
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:20px;
}
.logo-container {
width:100%;
height:50%;
position:relative;
}

.logo:hover ~ .logo2 {
z-index:2;
opacity:1;
}

.logo {
width:100%;
height:100%;
background:url("images/image-equilibrium.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
z-index:1;
}

.view {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

.logo2 {
width:100%;
height:100%;
background:hsl(178, 100%, 50%);
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
opacity:0;
transition-duration:.2s;
z-index:0;
}
.info {
width:90%;
padding:3%;
height:auto;
}
.info2 {
width:90%;
padding:3%;
height:auto;
display: flex;
gap:12px;
}
.info2>p {
color:hsl(215, 51%, 70%);
font-weight:400;
}
.name {
color:hsl(0, 0%, 100%);
}
.name:hover {
color:hsl(178, 100%, 50%);
}
.info>h1 {
color:hsl(0, 0%, 100%);
}
.info>p {
font-size:18px;
line-height:1.8;
font-weight:400;
color:hsl(215, 51%, 70%);
}
.info>h1:hover {
color:hsl(178, 100%, 50%);
}
.balance {
color:hsl(178, 100%, 50%);
width:100%;
display: inline;
align-items:center;
}
.duration {
color:hsl(215, 51%, 70%);
float: right;
}
.hr {
width:100%;
height:1px;
background:hsl(215, 32%, 27%);
border:none;
}
.avatar-circle {
width:40px;
height:40px;
padding:1%;
border-radius:50%;
background:hsl(0,0%,100%);
display: flex;
justify-content:center;
}
.avatar {
width:40px;
height:40px;
padding:2%;
background: url('images/image-avatar.png');
background-size:100% 100%;
}
}


@media screen and (min-width: 768px) and (max-width:960px) {
.container {
width:60%;
height:33pc;
padding:5%;
background:hsl(216, 50%, 16%);
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:20px;
}

.logo-container {
width:100%;
height:50%;
position:relative;
}

.logo:hover ~ .logo2 {
z-index:2;
opacity:1;
}

.logo {
width:100%;
height:100%;
background:url("images/image-equilibrium.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
z-index:1;
}

.view {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

.logo2 {
width:100%;
height:100%;
background:hsl(178, 100%, 50%);
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
opacity:0;
transition-duration:.2s;
z-index:0;
}

.info {
width:90%;
padding:3%;
height:auto;
}

.info2 {
width:90%;
padding:3%;
height:auto;
display: flex;
gap:12px;
}

.info2>p {
color:hsl(215, 51%, 70%);
font-weight:400;
}

.name {
color:hsl(0, 0%, 100%);
}

.name:hover {
color:hsl(178, 100%, 50%);
}

.info>h1 {
color:hsl(0, 0%, 100%);
}

.info>p {
font-size:18px;
line-height:1.8;
font-weight:400;
color:hsl(215, 51%, 70%);
}

.info>h1:hover {
color:hsl(178, 100%, 50%);
}

.balance {
color:hsl(178, 100%, 50%);
width:100%;
display: inline;
align-items:center;
}

.duration {
color:hsl(215, 51%, 70%);
float: right;
}

.hr {
width:100%;
height:1px;
background:hsl(215, 32%, 27%);
border:none;
}

.avatar-circle {
width:40px;
height:40px;
padding:1%;
border-radius:50%;
background:hsl(0,0%,100%);
display: flex;
justify-content:center;
}
.avatar {
width:40px;
height:40px;
padding:2%;
background: url('images/image-avatar.png');
background-size:100% 100%;
}
}


@media screen and (min-width: 1024px) and (max-width:1920px) {
.container {
width:20%;
height:33pc;
padding:2%;
background:hsl(216, 50%, 16%);
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:20px;
}

.logo-container {
width:100%;
height:50%;
position:relative;
}

.logo:hover ~ .logo2 {
z-index:2;
opacity:1;
}

.logo {
width:100%;
height:100%;
background:url("images/image-equilibrium.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
z-index:1;
}

.view {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

.logo2 {
width:100%;
height:100%;
background:hsl(178, 100%, 50%);
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
opacity:0;
transition-duration:.2s;
z-index:0;
}

.info {
width:90%;
padding:3%;
height:auto;
}

.info2 {
width:90%;
padding:3%;
height:auto;
display: flex;
gap:12px;
}

.info2>p {
color:hsl(215, 51%, 70%);
font-weight:400;
}

.name {
color:hsl(0, 0%, 100%);
}

.info>h1 {
color:hsl(0, 0%, 100%);
}

.info>p {
font-size:18px;
line-height:1.8;
font-weight:400;
color:hsl(215, 51%, 70%);
}

.info>h1:hover {
color:hsl(178, 100%, 50%);
}

.balance {
color:hsl(178, 100%, 50%);
width:100%;
display: inline;
align-items:center;
}

.duration {
color:hsl(215, 51%, 70%);
float: right;
}

.hr {
width:100%;
height:1px;
background:hsl(215, 32%, 27%);
border:none;
}

.avatar-circle {
width:40px;
height:40px;
padding:1%;
border-radius:50%;
background:hsl(0,0%,100%);
display: flex;
justify-content:center;
}

.avatar {
width:40px;
height:40px;
padding:2%;
background: url('images/image-avatar.png');
background-size:100% 100%;
}
}


@media screen and (min-width: 2560px) {
.container {
width:20%;
height:33pc;
padding:2%;
background:hsl(216, 50%, 16%);
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
border-radius:20px;
}

.logo-container {
width:100%;
height:50%;
position:relative;
}

.logo:hover ~ .logo2 {
z-index:2;
opacity:1;
}

.logo {
width:100%;
height:100%;
background:url("images/image-equilibrium.jpg");
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
z-index:1;
}

.view {
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
}

.logo2 {
width:100%;
height:100%;
background:hsl(178, 100%, 50%);
background-size:100% 100%;
background-repeat:no-repeat;
border-radius:12px;
position:absolute;
opacity:0;
transition-duration:.2s;
z-index:0;
}

.info {
width:90%;
padding:3%;
height:auto;
}

.info2 {
width:90%;
padding:3%;
height:auto;
display: flex;
gap:12px;
}

.info2>p {
color:hsl(215, 51%, 70%);
font-weight:400;
}

.name {
color:hsl(0, 0%, 100%);
}

.info>h1 {
color:hsl(0, 0%, 100%);
}

.info>p {
font-size:18px;
line-height:1.8;
font-weight:400;
color:hsl(215, 51%, 70%);
}

.info>h1:hover {
color:hsl(178, 100%, 50%);
}

.balance {
color:hsl(178, 100%, 50%);
width:100%;
display: inline;
align-items:center;
}

.duration {
color:hsl(215, 51%, 70%);
float: right;
}

.hr {
width:100%;
height:1px;
background:hsl(215, 32%, 27%);
border:none;
}

.avatar-circle {
width:40px;
height:40px;
padding:1%;
border-radius:50%;
background:hsl(0,0%,100%);
display: flex;
justify-content:center;
}

.avatar {
width:40px;
height:40px;
padding:2%;
background: url('images/image-avatar.png');
background-size:100% 100%;
}
}